[submodule "src/libraries/IoAbstraction"]
	path = src/libraries/IoAbstraction
	url = https://github.com/mastersin/IoAbstraction
[submodule "src/libraries/AnalogScanner"]
	path = src/libraries/AnalogScanner
	url = https://github.com/mastersin/AnalogScanner
[submodule "src/libraries/LiquidCrystal-I2C"]
	path = src/libraries/LiquidCrystal-I2C
	url = https://github.com/mastersin/Arduino-LiquidCrystal-I2C-library
[submodule "src/libraries/ClickEncoder"]
	path = src/libraries/ClickEncoder
	url = https://github.com/mastersin/encoder
[submodule "src/libraries/OneButton"]
	path = src/libraries/OneButton
	url = https://github.com/mastersin/OneButton
[submodule "src/libraries/TimerOne"]
	path = src/libraries/TimerOne
	url = https://github.com/mastersin/TimerOne
